<header>
  <nav>
    <div>
      <a href="/">Tasklist</a>
      <button type="button">
        <span></span>
      </button>

      <div>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |message| %>
    <li><%= link_to message.id, message %> : <%= message.status %> &gt; <%= message.content %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
<%= render 'tasks', users: @tasks %>

<div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>Welcome to the Microposts</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>